In [4]:
import numpy as np
import pandas as pd
import os

In [6]:
cwd = os.getcwd()
print(cwd)
os.chdir('C:/Users/User/Downloads/Data_AV/DAV_CA1')

data = pd.read_csv("imdb_movies.csv", encoding='latin-1')
data.info()
data.head()
data.describe()

C:\Users\User\Downloads\Data_AV\DAV_CA1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Movie Name    2000 non-null   object
 1   Release Year  2000 non-null   object
 2   Duration      2000 non-null   int64
 3   IMDB Rating   2000 non-null   float64
 4   Metascore     1919 non-null   float64
 5   Votes         2000 non-null   object
 6   Genre         2000 non-null   object
 7   Director      2000 non-null   object
 8   Cast          2000 non-null   object
 9   Gross         1903 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 156.4+ KB

          Duration  IMDB Rating    Metascore
count  2000.000000  2000.000000  1919.000000
mean    113.939000     6.922600    61.044294
std      22.946035     0.955618    17.937722
min      50.000000     1.500000     9.000000
25%      98.000000     6.400000    48.000000
50%     110.000000     7.000000    61.000000
75%     125.000000     7.600000    74.000000
max     271.000000     9.300000   100.000000